.MilestoneContainer {
    padding: 3%;
}

.MSHolder {
    justify-content: center;
}

.MS-H-1 {
    color: #05037C;
    font-weight: bolder;
}


/* milestone cards styling  */
.MS-Card {
    margin: 3%;
    border-radius: 10px;
    border: none;
    background-color: #f7f7f7;
    min-width: 220px;
    width: 75% !important;
    height: auto;
    box-shadow: 0px 0px 5px 5px #f0f0f0;

}

.MS-Card-heading {
    color: #05037C;
    background-color: white;
    font-weight: bolder;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.MS-Card-para {
    padding: 5px;
    color: rgb(75, 75, 75);

}

.MS-Card-btns {
    display: flex;
    flex-wrap: wrap;
    /* float: right; */
    right: 5;
    margin: 10px;
    padding-bottom: 10px;
}

.MS-Card-btn1 {
    border-radius: 5px;
    color: white;
    border: none;
    width: 100px;
    background-color: rgb(138, 138, 138);
    font-weight: bold;
}

.MS-Card-btn2 {
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100px;
    background-color: #05037C;
    font-weight: bold;
}

.MilestoneDetailContainer {
    padding: 3%;
    margin-bottom: 5%;
}

.headingsformilestonedetails {
    color: white;
    background-color: #05037C;
    font-weight: bolder;
    width: fit-content;
    padding: 0 5px;
}

.MS-Card-btn3 {
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    border: none;
    width: fit-content;
    padding: 1% 2%;
    background-color: #05037C;
    font-weight: bold;
}

.dangerbtn {
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    border: none;
    width: fit-content;
    padding: 1% 2%;
    background-color: rgb(238, 2, 2);
    font-weight: bold;
}

.table-rubric {
    border-radius: 10px !important;
    background-color: white !important;
    /* box-shadow: 0px 0px 25px rgba(156, 148, 219, 0.25) !important; */
    padding: 20px !important;
    margin: 2% auto;
}

.t-head {
    background-color: #f4f4f4 !important;
}

.t-head>td {
    color: rgb(114, 114, 114) !important;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 11px;
    border: 1px dashed gray !important;
    padding: 10px;
    box-sizing: border-box;

}

.tr-rubrics {
    vertical-align: top !important;

}

.td-rub {
    font-size: 9px !important;
    border: 1px dashed gray !important;
    vertical-align: top !important;
    padding: 5px;
    box-sizing: border-box;
}

.td-rub-1 {
    font-size: 11px !important;
    font-weight: bold;
    border: 1px dashed gray !important;
    vertical-align: top !important;
    padding: 5px;
    box-sizing: border-box;
}

.CreateProjectScreen-2 {
    padding: 3%;
    width: 100% !important;
    margin-bottom: 2%;
}

.form-field-50 {
    width: 300px !important;
}

.rubric-row {
    display: flex;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    /* border: solid rgb(224, 224, 224) 1px; */
}

.rubric-inp-t {
    /* margin: 2px; */
    width: 100%;
    /* border-radius: 3px; */
    /* width: 50%; */
    border: none;
}

.rubric-inp-t:active {
    /* margin: 2px; */
    /* border-radius: 3px; */
    /* width: 50%; */
    border: none;
}

.rubric-inp-t:focus {
    outline: none;
    border: none;
}

.rub-p-row {
    display: inline;


}

.rub-p-inp:focus {
    outline: none;
    border: none;
}

.rub-p-inp {
    outline: none;
    border: none;
    width: 100%;
}

.table-for-rubric {
    width: 100% !important;
}

.uploadFileSection {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;

}

.uploadField {
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.uploadField .uploadbtn {
    background-color: #05037C;
    color: white;
    font-weight: 600;
    border: #05037C 2px solid;
    padding: 5px 20px;

}

.download-task-log-btn {
    margin-left: auto;
    width: max-content;
    padding: 20px 0px;
}

.download-task-log-btn .btn {
    background-color: #e7e7e7 !important;
    color: black;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
.download-task-log-btn .btn:hover {
    background-color: #d1d1d1 !important;
    color: black;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}